
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body {
    background-color: #f4f4f6;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    /* border: solid 2px black; */
}

.form-cadastro {
    width: 50vw;
    
}

.span-erro-form {
    color: red;
    font-weight: 400;
    
}


.list-clients {
    font-size: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 55vw;
}

.list-clients button {
    border: none;
    background-color: transparent;
}

.list-clients li {
    display: flex;
    justify-content: space-between;
    
}

.list-clients li a {
    text-decoration: none;
    color: #282828
}

.btn-form {
    border: none;
    border-radius: 8px;
    background-color: #0555d6;
    color: white;
    width: 150px;
    height: 40px;
}

.btn-form:hover {
    background-color: #0a53be;
}

.single-client {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 15px;
}

.search-bar{
    width: 50vw;
    margin: 15px;
}